.user_edit{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 20px auto;
  width: 700px;
  padding: 50px;
  background-color: #f1efe9;
  border: double;
  &_user{
    text-align: center;
    margin-bottom: 20px;
  }
  &_forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  &_form{
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 10px;
    width: 450px;
    &_text{
      border: 1px solid #bdb4b4;
      border-radius: 5px;
      width: 250px;
    }
    &_submit{
      text-align: center;
      margin-top: 50px;
      &_button{
        background-color: rgb(39, 228, 203);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 25px;
      }
    }
  }
}


