.new_user_form{
  text-align: center;
  &_title{
    font-size: 40px;
    letter-spacing: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 40px;
  }
}

.postalcode-label {
  padding-right: 180px;
}

.prefectures-label {
  padding-right: 165px;
}

.city-label {
  padding-right: 180px;
}

.streetaddress-label {
  padding-right: 210px;
}

.building-label {
  padding-right: 195px;
}

.familyname-kana-label {
  padding-right: 145px;
}

.familyname-kanzi-label {
  padding-right: 210px;
}

.firstname-kana-label {
  padding-right: 145px;
}

.firstname-kanzi-label {
  padding-right: 210px;
}

.tel-label {
  padding-right: 180px;
}

.actions{
  margin-top: 20px;
  &_button{
    background-color: rgb(39, 228, 203);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 25px;
  }
}